body{
    padding: 0 !important;;
    margin: 0 !important;; 
    background-color: #e9eef6 !important;
}
header{
    background-color: #1a5bff !important;
    margin: 10px 10px 10px 10px !important;
    border-radius: 10px !important;
    padding: 10px 10px 10px 10px !important;
    display: flex !important;
    box-shadow: 0 4px 10px 2px rgba(70, 129, 227, 0.21) !important;
}
.heading{
    color: #fff;
    font-size: 3em;
    margin: 0 auto;
    margin-top: 20px;
}
.main-container{
    background-color: transparent;
    padding: 10px;
    display: grid;
    grid-gap: 10px; 
    grid-template-areas: "a b";
    height: 75vh;

 
}
.my-works{
    background-color: #e9eef6;;
    grid-area: a;
    width: 75vw;
    overflow: hidden;
    text-align: center;
}
.my-works-grid{
    background-color: transparent;
    width: 76vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 3fr);
    overflow: auto;    
    height: 100%;
}
.my-works-grid-items{
    background-color:  #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    height: 200px;
    margin: 2px;
    position: relative;
}
.my-works-grid-items:hover{
    box-shadow: 0 4px 10px 2px rgba(70, 129, 227, 0.21);
    transition: 0.3s
}
.my-works-grid-items-last{
    background-color:  #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    height: 200px;
    margin: 2px;
    position: relative;
}
.my-works-grid-items .content-display{
    
}
.my-works-grid-items .content-display:hover{
    
}
.content-display img{
    width: 80%;
    height: 160px;
}
.my-works-grid-items .view-content{
    background-color: #fff;
    bottom: 0;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 15%;
    padding-top:5px;
    color: grey;
}
.my-works-grid-items .view-content:hover {
    height: 16%;
    transition: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
    background-color: #1a5bff;
    color: white;
}
.my-skills{
    background-color: #fff;
    grid-area: b;
    border-radius: 10px;
    width: 22.5vw;
    text-align: center;
    padding: 0px 10px 0px 10px;
}