body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff !important;
    display: flex !important;
    font-family: 'Nunito', sans-serif !important;
}
.user-img{
    width: 42px;
    height: 42px;
}
/*Navigation Bar*/
.nav{
    border-right: 1px solid grey;
    height: 100vh ;
    width: 6rem;
    text-align: center;
    padding-top: 10px;
}
.nav .menu-icons{
    margin-top: 100px;
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.nav .button-grid {
    background: url('./icons_SVG/grid.svg') no-repeat;
    width: 32px;
    height: 32px;
    background-size: cover;
    padding: 5px 5px 5px 5px;
    border: none;
    flex-grow: 2;
}
.nav .button-mail {
    background: url('./icons_SVG/contact.svg') no-repeat;
    width: 32px;
    height: 32px;
    background-size: cover;
    border: none;
}
.nav .button-bookmark{
    background: url('./icons_SVG/bookmark.svg') no-repeat;
    width: 32px;
    height: 32px;
    background-size: cover;
    border: none;
}
.nav .button-calender{
    justify-content: flex-end;
    background: url('./icons_SVG/calendar.svg') no-repeat;
    width: 32px;
    height: 32px;
    background-size: cover;
    border: none;
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.head-div{
    background-color: #fff;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
}
.left-content{
    border-right: 1px solid grey;
    width: 70%;
    height: 100%;
}
.date-col{
    border-bottom: 1px solid grey;
    height: 10%;
}
.user-col{
    border-bottom: 1px solid grey;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}
.user-col > .user-items{
    border-left: 1px solid grey;
    margin-left: 20px;
    flex: 2;
    padding: 5px 5px 5px 5px;
}
.user-items img{
    float: right;
}
.timeline-content{

}
.right-contect{

}
