body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
}
/*Navigation Bar*/
.nav{
    border-right: 1px solid grey;
    height: 100vh;
    width: 3rem;
}
.container{
    background-color: black;
    width: 100%;
    height: 10px;
}
