body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff !important;
    display: flex !important;
    font-family: 'Nunito', sans-serif !important;
}
/*Navigation Bar*/
.nav{
    border-right: 1px solid grey;
    height: 100vh ;
    width: 6rem;
}
.nav .button-grid {
    background: url('./icons_SVG/grid.svg');
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.head-div{
    background-color: #fff;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
}
.left-content{
    border-right: 1px solid grey;
    width: 70%;
    height: 100%;
}
.date-col{
    border-bottom: 1px solid grey;
    height: 10%;
}
.user-col{
    border-bottom: 1px solid grey;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}
.user-col > .user-items{
    border-left: 1px solid grey;
    margin-left: 20px;
    flex: 2;
    padding: 5px 5px 5px 5px;
}
.user-items img{
    float: right;
}
.timeline-content{

}
.right-contect{

}
